/*********  TopLogo CSS ***************/
.upperBox {
  background-color: black;
  color: white;
  padding: 10px;
  height: 50px;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.upperBox img {
  width: 30px;
  height: 30px;
}

.upperBox .topLeft-Column{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.upperBox .topRight-Column{
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.upperBox .topRight-Column button{
  background-color: gold;
  border: 1px solid white;
  color: black;
  font-weight: bold;
  font-style: "Arial";
  height: 30px;
  width: 80px;
}

.upperBox .topRight-Column button:hover{
  cursor: pointer;
}

/*********  TopLogo CSS ***************/

/*********  VerticalTab CSS ***************/
.verticalTabRow{
  height: calc(100vh - 50px);
}

.verticalTabContent{
  height: 100%;
  width: 110px;
  background-color: gold;
  border-right: 2px solid black;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.verticalTabContent a{
  text-decoration: none;
  font-weight: bold;
  color: black;
  cursor: pointer;
}

.verticalTabContent p{
  margin-top: 20px;
  margin-bottom: 0px;
  margin-left: 5px;
}
/*********  VerticalTab CSS ***************/

/*****************  Login CSS *****************/
.loginRow {
  height: calc(100vh - 50px);
  display: flex;
  flex-wrap: wrap;
}

.left-login,
.right-login {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
}

.left-login {
  background-image: url("https://i.imgur.com/vAwpwqL.png");
}

.right-login {
  background-image: url("https://i.imgur.com/j9hx0Fb.png");
  font-family: "Arial", sans-serif;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 5%;
  background-color: rgba(255, 255, 255, 0.8);
}

#signIn-heading {
  font-weight: bold;
  font-size: 2.5em;
  margin-bottom: 16px;
}

#signIn-subheader {
  font-size: 1.2em;
  font-weight: normal;
  margin-bottom: 26px;
}

#loginName,
#loginPassword {
  width: 55%;
  height: 50px;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #7e7d7d;
  border-radius: 5px;
}

#username-text,
#password-text {
  font-weight: bold;
  color: black;
  margin-bottom: 5px;
}

.right-login .links {
  color: rgb(0, 85, 255);
  cursor: pointer;
  text-decoration: none;
}

.right-login .links:hover {
  text-decoration: underline;
}

#loginButton,
.popup-button {
  background-color: black;
  border: 2px solid gold;
  color: white;
  font-weight: bold;
  border-radius: 20px;
  margin-top: 20px;
  cursor: pointer;
  width: 55%;
  height: 50px;
}

#loginButton:hover {
  background-color: #333;
  border-color: transparent;
  color: gold;
}

#forgot-password {
  margin-top: 10px;
  display: block;
}

#loginResult 
{
  font-size: 1.2em;
  font-weight: normal;
  color: red;
}

@media (max-width: 875px) {
  .loginRow {
    flex-direction: column;
  }

  .right-login {
    align-items: center;
    text-align: center;
  }

  #signIn-heading {
    margin-top: 20px;
  }

  #loginName,
  #loginPassword,
  #loginButton {
    width: 60%;
  }
}
/*****************  Login CSS *****************/

/*********  Register CSS ***************/
.signUpRow {
  height: calc(100vh - 50px);
  display: flex;
  flex-wrap: wrap;
}

.left-signUp,
.right-signUp {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
}

.left-signUp {
  background-image: url("https://i.imgur.com/vAwpwqL.png");
}

.right-signUp {
  background-image: url("https://i.imgur.com/j9hx0Fb.png");
  font-family: "Arial", sans-serif;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 5%;
  background-color: rgba(255, 255, 255, 0.8);
}

#signUp-heading {
  font-weight: bold;
  font-size: 2.5em;
  margin-bottom: 16px;
}

#signUp-subheader {
  font-size: 1.2em;
  font-weight: normal;
  margin-bottom: 26px;
}

.right-signUp .links {
  color: rgb(0, 85, 255);
  cursor: pointer;
  text-decoration: none;
}

.right-signUp .links:hover {
  text-decoration: underline;
}

.signUp-inputText {
  font-weight: bold;
  color: black;
  margin-bottom: 5px;
}

.signUp-nameRow {
  width: 55%;
  margin-bottom: 20px;
}

.right-signUp .colFirstName {
  padding: 0px;
  margin-right: 24px;
  width: calc(50% - 12px);
}

.right-signUp .colLastName {
  padding: 0px;
  width: calc(50% - 12px);
}

.right-signUp #firstName,
.right-signUp #lastName {
  width: 100%;
  height: 50px;
  border: 1px solid #7e7d7d;
  border-radius: 5px;
}

.right-signUp #username,
.right-signUp #emailInput,
.right-signUp #newPassword,
.right-signUp #confirmPassword {
  width: 55%;
  height: 50px;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #7e7d7d;
  border-radius: 5px;
}

.right-signUp .signUp-requirementFields {
  font-size: 1.2em;
  font-weight: normal;
  color: red;
}

#registerButton,
.popup-button {
  background-color: black;
  border: 2px solid gold;
  color: white;
  font-weight: bold;
  border-radius: 20px;
  margin-top: 20px;
  cursor: pointer;
  width: 55%;
  height: 50px;
}

#registerButton:hover {
  background-color: #333;
  border-color: transparent;
  color: gold;
}

@media (max-width: 1300px) {
  .signUpRow {
    flex-direction: column;
  }

  .right-signUp {
    align-items: center;
    text-align: center;
  }

  #signUp-heading {
    margin-top: 20px;
  }

  .signUp-nameRow {
    width: 60%;
    flex-direction: column;
    margin-bottom: 0px;
  }

  .right-signUp #firstName,
  .right-signUp #lastName
  {
    margin-bottom: 20px;
  }

  .right-signUp #username,
  .right-signUp #emailInput,
  .right-signUp #newPassword,
  .right-signUp #confirmPassword 
    {
      margin-bottom: 20px;
      width: 60%;
    }

    #registerButton, 
    .popup-button {
      width: 60%;
    }
}
/*********  Register CSS ***************/

/*********  ForgetPassword CSS ***************/
.popup-overlay{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup-content {
  background: black;
  border: 2px solid gold;
  border-radius: 5px;
  width: 30%;
  height: 55%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: flex-start;
}


.popup-content img {
  width: 20%;
  height: 20%;
  margin-top: 1%;
  margin-bottom: 10%;
  align-self: center;
}

.close-btn {
  position: absolute;
  color: gold;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 30px;
}

.popup-text{
  margin-bottom: 10%;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.passwordInputsError, .requirementFields{
  color: red;
  font-size: 14px;
  text-align: left;
  margin-left: 10%;
  width: 80%;
}

#login-emailInput, #login-newPassword, #login-confirmPassword, #verificationInput {
  width: 75%; 
  height: 30%;
  margin-bottom: 1%;  
  padding: 2%;
}

#login-newPassword, #login-confirmPassword{
  padding: 1%;
  height: 20%;
}

#pegasus-ChangePassword{
  margin-bottom: 3%;
}

.popup-button{
  width: 75%;
  height: 30%;
  margin-top: 13%;
  border-radius: 5%;
}

#button-finalizePassword{
  margin-top: 8%;
}

.popup-text button:hover {
  background-color: #333; 
  border-color: transparent;
  color: gold; 
  }

  @media (max-height: 875px), (max-width: 660px) {
   
    .popup-content {
      width: 40%;
      height: 70%;
    }
    
    
    .popup-content img {
      width: 15%;
      height: 15%;
      margin-bottom: 0px;
      align-self: center;
    }
        
    .popup-text{
      margin-bottom: 0px;
    }
    
    #login-emailInput, #verificationInput {
      width: 75%; 
      height: 20%;
      margin-bottom: 0px;
      margin-top: 0px;
    }

    #login-newPassword, #login-confirmPassword{
      padding: 1%;
      margin-bottom: 0px;
      margin-top: 0px;
      width: 75%; 
      height: 20%;
    }

    #pegasus-ChangePassword{
      margin-bottom: 0px;
    }
    
    .popup-button{
      width: 75%;
      height: 30%;
      margin-top: 13%;
      border-radius: 5%;
    }
    
    .popup-text button:hover {
      background-color: #333; 
      border-color: transparent;
      color: gold; 
      }
  }
  

/*********  ForgetPassword CSS ***************/



/*********  CreateEvent CSS ***************/

.createEvent-container {
  height: 100%; /* Fill the entire height of its parent container */
}

.createEvent-TopRow{
  height: 50%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.createEvent-TopRow .createEvent-Header{
  height: 30%;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.createEvent-TopRow .createEvent-Image{
  height: 70%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.createEvent-Image img{
  height: 80%;
  width: 15%;
}

.createEvent-TopRow h1{
  font-family: "Arial";
  text-align: center;
}

.createEvent-BottomRow{
  height: 50%;
  width: 100%;
}

.createEvent-BottomRow .createEvent-InfoRow{
  height: 80%;
  width: 100%;
}

.createEvent-Col1 p {
  font-family: "Arial";
  font-weight: bold;
  margin-right: 10px;
  font-size: 20px;
  min-width: 120px; 
}

.createEvent-Col2 p {
  font-family: "Arial";
  font-weight: bold;
  margin-right: 10px;
  font-size: 20px;
  min-width: 140px; 
}

.createEvent-Col3 p {
  font-family: "Arial";
  font-weight: bold;
  font-size: 20px;
}

.createEvent-Col1, .createEvent-Col2, .createEvent-Col3{
  height: 100%;
  display: flex;
  flex-direction: column;
}

.createEvent-Col3{
  margin-left: 10%;
}

.createEvent-Col1 .row, .createEvent-Col2 .row, .createEvent-Col3 .row {
  flex: 1;
  width: 100%;
}

.createEvent-Col1 .createEvent-InfoTextInput,
.createEvent-Col2 .createEvent-InfoTextInput{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.createEvent-Col3 .createEvent-InfoTextInput{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.createEvent-Col1 input, .createEvent-Col1 select, .createEvent-Col2 select, .createEvent-Col2 input{
  height: 50px;
  margin-bottom: 3%;
  width: 50%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.createEvent-Col3 textarea{
  height: 80%;
  margin-bottom: 3%;
  width: 80%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.createEvent-BottomRow .createEvent-ButtonRow{
  height: 20%;
  width: 100%;
}

.createEvent-ButtonRow{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
}

#createEvent-Button{
  background-color: black; 
  border: 2px solid gold; 
  color: white; 
  font-weight: bold; 
  border-radius: 20px; 
  margin-top: 0px;
  cursor: pointer; 
  width: 75%;
  height: 40px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

@media (max-width: 1366px){
  .createEvent-Col1 input, .createEvent-Col1 select, .createEvent-Col2 select, .createEvent-Col2 input{
    height: 35px;
  }

  #createEvent-Button{
    height: 30px;
    margin-left: 10px;
  }

}

@media (max-width: 1140px){
  .createEvent-BottomRow p{
    font-size: 16px;
  }
}

/*********  CreateEvent CSS ***************/

/*********  MyEvents CSS ***************/

.myEvents-container {
  height: 100%;
}

.hostingEvents-row {
  height: 50%;
  width: 100%;
  position: relative;
}

.attendingEvents-row {
  height: 50%;
  width: 100%;
}

.MyEvents-Header {
  height: 20%;
  width: 100%;
  display: flex;
  align-items: center;
  position: relative; 
  z-index: 0; /* Ensure header content is behind overlay-buttons */
}


.displayMyEvents-row {
  height: 80%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative; /* Ensure relative positioning for absolute children */
}

.eventCard-Display {
  height: 90%;
  display: flex;
  flex-direction: row;
  margin-left: 2.25%;
  border: none;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.eventCard-Display:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.col-3-5 {
    flex: 0 0 29.17%;
    max-width: 29.17%;
}

.eventCard-Display .eventCard-Info {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-top: 7px solid black;
  border-bottom: 7px solid black;
  border-right: 7px solid black;
  background-color: linen;
}

.eventCard-Info h5, .eventCard-Info p {
  text-align: center; 
  white-space: normal; 
}

.eventCard-Display .eventCard-Info p {
  margin: 4px 0; 
  padding: 0; 
}

@media (max-width: 1375px) {
  .eventCard-Info p {
    font-size: 14px; 
  }
  .eventCard-Info h5{
    font-size: 16px;
  }

  .effectEventButtons button {
    padding: 2px 4px; 
    font-size: 14px; 
  }
}

.eventCard-Display .eventCard-Img {
  border-top: 7px solid black;
  border-left: 7px solid black;
  border-bottom: 7px solid black;
  height: 100%;
  background-size: cover;
  background-position: center;
}

.overlay-buttons {
  position: relative; /* Ensure stacking context */
}

.pagination-buttons {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  gap: 10px; /* Adjust as needed */
  z-index: 1; /* Ensure buttons are above other content */
}

.pagination-buttons button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: black; 
  border: 2px solid gold; 
  color: white; 
  font-weight: bold; 
  cursor: pointer;
}

.pagination-buttons button:disabled {
  opacity: 0.5; /* Reduce opacity when disabled */
  cursor: not-allowed; /* Change cursor to not-allowed when disabled */
}

.effectEventButtons{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.effectEventButtons button{
  background-color: gold; 
  border: 2px solid black; 
  color: black; 
  font-weight: bold; 
  cursor: pointer;
}



/*********  MyEvents CSS ***************/

/******** Delete/Leave Event CSS *********/
.updateEventStatus-PopUp{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}


.updateEventStatus-Content {
  background: black;
  border: 2px solid gold;
  border-radius: 5px;
  width: 200px;
  height: 200px;
  display: flex;
  flex-direction: column;
}

.updateEventStatus-text{
  height: 50%;
  width: 100%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.updateEventStatus-Buttons{
  height: 50%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

#updateEventStatus-Yes {
  color: white;
  background-color: green;
}

#updateEventStatus-No{
  color: white;
  background-color: red;
}
/******** Delete/Leave Event CSS *********/

/******** Main Events Page CSS *********/

.mainEventsPage-container{
  height: 100%;
}

.eventSearchRow{
  height: 10%;
  width: 100%;
  display: flex;
  flex: column;
  align-content: center;
  justify-content: center;
}

.eventSearchRow input,
.eventSearchRow select,
.eventSearchRow button,
.eventSearchRow .dateSearch {
  border: 2px solid black; 
  border-radius: 5px;
  margin-left: 5%; 
  height:50px;
}

.eventSearchRow input {
  width: 35%;
  padding-left: 40px; /* Space for the search icon */
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="black" d="M21.71 20.29l-5.33-5.33A7.93 7.93 0 0 0 18 10c0-4.41-3.59-8-8-8s-8 3.59-8 8 3.59 8 8 8a7.93 7.93 0 0 0 5.96-2.67l5.33 5.33a1 1 0 0 0 1.42 0 1 1 0 0 0 0-1.42zM10 16c-3.31 0-6-2.69-6-6s2.69-6 6-6 6 2.69 6 6-2.69 6-6 6z"/></svg>');
  background-size: 24px;
  background-position: 10px center;
  background-repeat: no-repeat;
}


.eventSearchRow select, .eventSearchRow .dateSearch{
  width: 15%;
}

.eventSearchRow button{
  width: 10%;
  margin-right: 5%;
  background-color: black; 
  border: 2px solid gold; 
  color: white; 
  font-weight: bold; 
  border-radius: 20px; 
  cursor: pointer; 
}

.mainEventsDisplay{
  height: 80%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.mainEventsDisplay-Top, .mainEventsDisplay-Bottom{
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.mainEventCard-Display {
  height: 90%;
  display: flex;
  flex-direction: row;
  margin-left: 2.25%;
  border: none;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.mainEventCard-Display:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.col-2-5 {
    flex: 0 0 22%;
    max-width: 22%;
}

.mainEventCard-Display .eventCard-Info {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-top: 7px solid black;
  border-bottom: 7px solid black;
  border-right: 7px solid black;
  background-color: linen;
}

.mainEventCard-Display .eventCard-Info h5, .mainEventCard-Display .eventCard-Info p {
  text-align: center; 
  white-space: normal; 
}

.mainEventCard-Display .eventCard-Info p {
  margin: 4px 0; 
  padding: 0; 
}

@media (max-width: 1375px) {
  .mainEventCard-Display .eventCard-Info p {
    font-size: 14px; 
  }
  .mainEventCard-Display .eventCard-Info h5{
    font-size: 16px;
  }

  .mainEventsDisplay-Button button {
    padding: 2px 4px; 
    font-size: 14px; 
  }
} 

@media (max-width: 1050px) {
  .mainEventCard-Display .eventCard-Info p {
    font-size: 13px; 
  }
  .mainEventCard-Display .eventCard-Info h5{
    font-size: 14px;
  }
} 


.mainEventCard-Display .eventCard-Img {
  border-top: 7px solid black;
  border-left: 7px solid black;
  border-bottom: 7px solid black;
  height: 100%;
  background-size: cover;
  background-position: center;
}

.mainEventsDisplay-Button{
  height: 10%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.mainEventsDisplay-Button button {
  font-size: 16px;
  background-color: black; 
  border: 2px solid gold; 
  color: white; 
  font-weight: bold; 
  cursor: pointer;
  height: 50px;
  width: 100px;
}

.mainEventsDisplay-Button button:disabled {
  opacity: 0.5; /* Reduce opacity when disabled */
  cursor: not-allowed; /* Change cursor to not-allowed when disabled */
}

/******** Main Events Page CSS *********/


/******** Event Details Page CSS *********/

.container {
  max-width: 1200px;
}

.card-title {
  font-size: 1.75rem;
  font-weight: 500;
}

.chat-box {
  height: 200px;
  overflow-y: auto;
  background-color: #f8f9fa;
  padding: 1rem;
  margin-bottom: 1rem;
}

.chat-box p {
  margin-bottom: 10px;
}

.form-control::placeholder {
  font-style: italic;
}

/******** Event Details Page CSS *********/
