/*********  TopLogo CSS ***************/

body 
{
  padding-top: 50px;
}

.upperBox {
  background-color: black;
  color: white;
  padding: 10px;
  height: 50px;
  width: 100%;
  display: flex;
  flex-direction: row;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  border-bottom: 2px solid gold;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.upperBox img {
  width: 30px;
  height: 30px;
}

.upperBox .topLeft-Column {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.upperBox .topLeft-Column .site-title {
  font-weight: bold;
}

.upperBox .topRight-Column {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.upperBox .topRight-Column button {
  background-color: gold;
  border: 1px solid white;
  color: black;
  font-weight: bold;
  font-family: "Arial", sans-serif;
  height: 30px;
  width: 80px;
  transition: background-color 0.3s ease;
}

.upperBox .topRight-Column button:hover {
  cursor: pointer;
  background-color: darkgoldenrod;
}

@media (max-width: 768px) {
  .upperBox {
    flex-direction: column;
    height: auto;
    align-items: center;
  }

  .upperBox .topLeft-Column,
  .upperBox .topRight-Column {
    justify-content: center;
  }

  .upperBox .topRight-Column button {
    margin-top: 10px;
  }

  body {
      padding-top: 90px;
  }
}

/*********  TopLogo CSS ***************/

/*********  VerticalTab CSS ***************/
.verticalTabColumn {
  display: flex;
  flex-direction: column;
  width: 120px;
  background-color: gold;
  border-right: 2px solid black;
  height: 100vh;
  overflow-y: auto;
}

.verticalTabLink {
  text-decoration: none;
  color: black;
  font-weight: bold;
  width: 100%;
}

.verticalTabColumn p {
  margin: 20px;
  font-size: 1.2em;
  text-align: center;
  padding: 10px;
}

.verticalTabLink:hover p {
  text-decoration: underline;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .verticalTabColumn {
    width: 100px;
  }

  .verticalTabColumn p {
    font-size: 1em;
  }
}
/*********  VerticalTab CSS ***************/

/*****************  Login CSS *****************/
.loginRow {
  height: calc(100vh - 50px);
  display: flex;
  flex-wrap: wrap;
}

.left-login,
.right-login {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
}

.left-login {
  background-image: url("https://i.imgur.com/vAwpwqL.png");
}

.right-login {
  background-image: url("https://i.imgur.com/j9hx0Fb.png");
  font-family: "Arial", sans-serif;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 5%;
  background-color: rgba(255, 255, 255, 0.8);
}

#signIn-heading {
  font-weight: bold;
  font-size: 2.5em;
  margin-bottom: 16px;
}

#signIn-subheader {
  font-size: 1.2em;
  font-weight: normal;
  margin-bottom: 26px;
}

#loginName,
#loginPassword {
  width: 55%;
  height: 50px;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #7e7d7d;
  border-radius: 5px;
}

#username-text,
#password-text {
  font-weight: bold;
  color: black;
  margin-bottom: 5px;
}

.right-login .links {
  color: rgb(0, 85, 255);
  cursor: pointer;
  text-decoration: none;
}

.right-login .links:hover {
  text-decoration: underline;
}

#loginButton,
.popup-button {
  background-color: black;
  border: 2px solid gold;
  color: white;
  font-weight: bold;
  border-radius: 20px;
  margin-top: 20px;
  cursor: pointer;
  width: 55%;
  height: 50px;
}

#loginButton:hover {
  background-color: #333;
  border-color: transparent;
  color: gold;
}

#forgot-password {
  margin-top: 10px;
  display: block;
}

#loginResult 
{
  font-size: 1.2em;
  font-weight: normal;
  color: red;
}

@media (max-width: 875px) {
  .loginRow {
    flex-direction: column;
  }

  .right-login {
    align-items: center;
    text-align: center;
  }

  #signIn-heading {
    margin-top: 20px;
  }

  #loginName,
  #loginPassword,
  #loginButton {
    text-align: center;
    width: 60%;
  }
}
/*****************  Login CSS *****************/

/*********  Register CSS ***************/
.signUpRow {
  height: calc(100vh - 50px);
  display: flex;
  flex-wrap: wrap;
}

.left-signUp,
.right-signUp {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
}

.left-signUp {
  background-image: url("https://i.imgur.com/vAwpwqL.png");
}

.right-signUp {
  background-image: url("https://i.imgur.com/j9hx0Fb.png");
  font-family: "Arial", sans-serif;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 5%;
  background-color: rgba(255, 255, 255, 0.8);
}

#signUp-heading {
  font-weight: bold;
  font-size: 2.5em;
  margin-bottom: 16px;
}

#signUp-subheader {
  font-size: 1.2em;
  font-weight: normal;
  margin-bottom: 26px;
}

.right-signUp .links {
  color: rgb(0, 85, 255);
  cursor: pointer;
  text-decoration: none;
}

.right-signUp .links:hover {
  text-decoration: underline;
}

.signUp-inputText {
  font-weight: bold;
  color: black;
  margin-bottom: 5px;
}

.signUp-nameRow {
  display: flex;
  width: 55%;
  justify-content: space-between;
  margin-bottom: 20px;
}

.right-signUp .colFirstName {
  padding: 0px;
  margin-right: 24px;
  width: calc(50% - 12px);
}

.right-signUp .colLastName {
  padding: 0px;
  width: calc(50% - 12px);
}

.right-signUp #firstName,
.right-signUp #lastName {
  width: 100%;
  height: 50px;
  border: 1px solid #7e7d7d;
  border-radius: 5px;
}

.right-signUp #username,
.right-signUp #emailInput,
.right-signUp #newPassword,
.right-signUp #confirmPassword {
  width: 55%;
  height: 50px;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #7e7d7d;
  border-radius: 5px;
}

.right-signUp .signUp-requirementFields {
  font-size: 1.2em;
  font-weight: normal;
  color: red;
}

#registerButton,
.popup-button {
  background-color: black;
  border: 2px solid gold;
  color: white;
  font-weight: bold;
  border-radius: 20px;
  margin-top: 20px;
  cursor: pointer;
  width: 55%;
  height: 50px;
}

#registerButton:hover {
  background-color: #333;
  border-color: transparent;
  color: gold;
}

@media (max-width: 1300px) {
  .signUpRow {
    flex-direction: column;
  }

  .right-signUp {
    align-items: center;
    text-align: center;
  }

  #signUp-heading {
    margin-top: 20px;
  }

  .signUp-nameRow {
    width: 60%;
    flex-direction: column;
    margin-bottom: 0px;
  }

  .right-signUp .colFirstName {
    margin-right: 0px;
    width: 100%;
  }
  
  .right-signUp .colLastName {
    width: 100%;
  }

  .right-signUp #firstName,
  .right-signUp #lastName
  {
    text-align: center;
    margin-bottom: 20px;
  }

  .right-signUp #username,
  .right-signUp #emailInput,
  .right-signUp #newPassword,
  .right-signUp #confirmPassword 
    {
      text-align: center;
      margin-bottom: 20px;
      width: 60%;
    }

    #registerButton, 
    .popup-button {
      width: 60%;
    }
}
/*********  Register CSS ***************/

/*********  ForgetPassword CSS ***************/
.popup-overlay{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup-content {
  background: rgba(0, 0, 0, 0.85);
  border: 3px solid rgba(255, 217, 0, 0.85);
  border-radius: 10px;
  width: 40%;
  height: fit-content;
  font-family: "Arial", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.popup-content .ucfImg {
  width: 100px;
  height: 100px;
  margin-bottom: 22px;
  align-self: center;
}

.close-btn {
  color: gold;
  margin-left: 95%;
  justify-content: center;
  cursor: pointer;
  height: 20px;
  width: 20px;
  font-size: 35px;
  text-align: center;
  align-self: center;
}

.close-btn:hover {
  color: rgba(255, 217, 0, 0.75);
}

.popup-text{
  font-weight: bold;
  margin-bottom: 5px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.passwordInputsError, .requirementFields{
  font-size: 1.2em;
  font-weight: normal;
  color: red;
}

.successfulChange {
  font-size: 1.2em;
  font-weight: normal;
  color: green;
}

#login-emailInput, #login-newPassword, #login-confirmPassword, #verificationInput {
  text-align: center;
  width: 55%; 
  height: 50px;
  margin-bottom: 20px;  
}

.popup-button{
  background-color: black;
  border: 2px solid gold;
  color: white;
  font-weight: bold;
  border-radius: 20px;
  margin-top: 20px;
  margin-bottom: 35px;
  cursor: pointer;
  width: 55%;
  height: 50px;
}

.popup-button:hover
{
  background-color: #333;
  border-color: transparent;
  color: gold;
}

@media (max-width: 1500px) {
  .popup-content {
      width: 55%;
    }
}

/*********  ForgetPassword CSS ***************/



/*********  CreateEvent CSS ***************/

html,
body {
  height: 100%;
  overflow: hidden;
}

.createEvent-container {
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
  margin-top: 15px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.createEvent-header {
  text-align: center;
  margin-bottom: 20px;
}

.createEvent-header h1 
{
  font-weight: bold;
  font-size: 2.5em;
}

.createEvent-header img {
  width: 40px;
}

.createEvent-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.createEvent-inputGroup {
  display: flex;
  flex-direction: column;
}

.createEvent-inputGroup label {
  font-family: 'Arial', sans-serif;
  font-weight: bold;
  margin-bottom: 5px;
}

.createEvent-inputGroup input,
.createEvent-inputGroup select,
.createEvent-inputGroup textarea {
  padding: 10px;
  font-size: 1em;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.createEvent-inputGroup textarea {
  resize: vertical;
}

.createEvent-buttonGroup {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.createEvent-buttonGroup button {
  background-color: black;
  border: 2px solid gold;
  color: white;
  width: 30%;
  font-weight: bold;
  border-radius: 20px;
  padding: 10px 20px;
  cursor: pointer;
}

.createEvent-buttonGroup button:hover {
  background-color: #333;
  border-color: transparent;
  color: gold;
}

.createEvent-buttonGroup span {
  margin-bottom: 10px;
  color: red;
  font-weight: bold;
}

@media (max-width: 875px) {
  .createEvent-container {
    padding: 10px;
  }

  .createEvent-inputGroup input,
  .createEvent-inputGroup select,
  .createEvent-inputGroup textarea {
    padding: 8px;
    font-size: 0.9em;
  }

  .createEvent-buttonGroup button {
    padding: 8px 16px;
  }
}

/*********  CreateEvent CSS ***************/

/*********  MyEvents CSS ***************/

.myEvents-container {
  height: 100%;
}

.hostingEvents-row {
  height: 50%;
  width: 100%;
  position: relative;
}

.attendingEvents-row {
  height: 50%;
  width: 100%;
}

.MyEvents-Header {
  height: 20%;
  width: 100%;
  display: flex;
  align-items: center;
  position: relative; 
  z-index: 0; /* Ensure header content is behind overlay-buttons */
}


.displayMyEvents-row {
  height: 80%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative; /* Ensure relative positioning for absolute children */
}

.eventCard-Display {
  height: 90%;
  display: flex;
  flex-direction: row;
  margin-left: 2.25%;
  border: none;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.eventCard-Display:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.col-3-5 {
    flex: 0 0 29.17%;
    max-width: 29.17%;
}

.eventCard-Display .eventCard-Info {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-top: 7px solid black;
  border-bottom: 7px solid black;
  border-right: 7px solid black;
  background-color: linen;
}

.eventCard-Info h5, .eventCard-Info p {
  text-align: center; 
  white-space: normal; 
}

.eventCard-Display .eventCard-Info p {
  margin: 4px 0; 
  padding: 0; 
}

@media (max-width: 1375px) {
  .eventCard-Info p {
    font-size: 14px; 
  }
  .eventCard-Info h5{
    font-size: 16px;
  }

  .effectEventButtons button {
    padding: 2px 4px; 
    font-size: 14px; 
  }
}

.eventCard-Display .eventCard-Img {
  border-top: 7px solid black;
  border-left: 7px solid black;
  border-bottom: 7px solid black;
  height: 100%;
  background-size: cover;
  background-position: center;
}

.overlay-buttons {
  position: relative; /* Ensure stacking context */
}

.pagination-buttons {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  gap: 10px; /* Adjust as needed */
  z-index: 1; /* Ensure buttons are above other content */
}

.pagination-buttons button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: black; 
  border: 2px solid gold; 
  color: white; 
  font-weight: bold; 
  cursor: pointer;
}

.pagination-buttons button:hover {
  background-color: #333;
    border-color: transparent;
    color: gold;
}

.pagination-buttons button:disabled {
  opacity: 0.5; /* Reduce opacity when disabled */
  cursor: not-allowed; /* Change cursor to not-allowed when disabled */
}

.effectEventButtons{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.effectEventButtons button{
  background-color: gold; 
  border: 2px solid black; 
  color: black; 
  font-weight: bold; 
  cursor: pointer;
}

.effectEventButtons button:hover {
  background-color: rgb(199, 169, 0);
  border: transparent;
}

/*********  MyEvents CSS ***************/

/******** Delete/Leave Event CSS *********/
.updateEventStatus-PopUp {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.updateEventStatus-Content {
  background: black;
  border: 2px solid gold;
  border-radius: 10px;
  width: 300px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.updateEventStatus-text {
  width: 100%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 20px;
}

.updateEventStatus-Buttons {
  display: flex;
  gap: 10px;
  width: 100%;
  justify-content: center;
}

#updateEventStatus-Yes,
#updateEventStatus-No {
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

#updateEventStatus-Yes {
  background-color: green;
}

#updateEventStatus-Yes:hover {
  background-color: darkgreen;
}

#updateEventStatus-No {
  background-color: red;
}

#updateEventStatus-No:hover {
  background-color: darkred;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .updateEventStatus-Content {
    width: 80%;
    padding: 10px;
  }

  .updateEventStatus-Buttons {
    flex-direction: column;
  }

  #updateEventStatus-Yes,
  #updateEventStatus-No {
    width: 100%;
    margin-top: 10px;
  }
}
/******** Delete/Leave Event CSS *********/

/******** Main Events Page CSS *********/

.mainEventsPage-container{
  height: 97%;
}

.eventSearchRow{
  height: 10%;
  width: 100%;
  display: flex;
  flex: column;
  align-content: center;
  justify-content: center;
}

.eventSearchRow input,
.eventSearchRow select,
.eventSearchRow button,
.eventSearchRow .dateSearch {
  border: 2px solid black; 
  border-radius: 5px;
  margin-left: 5%; 
  height:50px;
}

.eventSearchRow input {
  width: 35%;
  padding-left: 40px; /* Space for the search icon */
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="black" d="M21.71 20.29l-5.33-5.33A7.93 7.93 0 0 0 18 10c0-4.41-3.59-8-8-8s-8 3.59-8 8 3.59 8 8 8a7.93 7.93 0 0 0 5.96-2.67l5.33 5.33a1 1 0 0 0 1.42 0 1 1 0 0 0 0-1.42zM10 16c-3.31 0-6-2.69-6-6s2.69-6 6-6 6 2.69 6 6-2.69 6-6 6z"/></svg>');
  background-size: 24px;
  background-position: 10px center;
  background-repeat: no-repeat;
}


.eventSearchRow select, .eventSearchRow .dateSearch{
  width: 15%;
}

.eventSearchRow button{
  width: 10%;
  margin-right: 5%;
  background-color: black; 
  border: 2px solid gold; 
  color: white; 
  font-weight: bold; 
  border-radius: 20px; 
  cursor: pointer; 
}

.eventSearchRow button:hover {
  background-color: #333;
    border-color: transparent;
    color: gold;
}

.mainEventsDisplay{
  height: 80%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.mainEventsDisplay-Top, .mainEventsDisplay-Bottom{
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.mainEventCard-Display {
  height: 90%;
  display: flex;
  flex-direction: row;
  margin-left: 2.25%;
  border: none;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.mainEventCard-Display:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.col-2-5 {
    flex: 0 0 22%;
    max-width: 22%;
}

.mainEventCard-Display .eventCard-Info {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-top: 7px solid black;
  border-bottom: 7px solid black;
  border-right: 7px solid black;
  background-color: linen;
}

.mainEventCard-Display .eventCard-Info h5, .mainEventCard-Display .eventCard-Info p {
  text-align: center; 
  white-space: normal; 
}

.mainEventCard-Display .eventCard-Info p {
  margin: 4px 0; 
  padding: 0; 
}

@media (max-width: 1375px) {
  .mainEventCard-Display .eventCard-Info p {
    font-size: 14px; 
  }
  .mainEventCard-Display .eventCard-Info h5{
    font-size: 16px;
  }

  .mainEventsDisplay-Button button {
    padding: 2px 4px; 
    font-size: 14px; 
  }
} 

@media (max-width: 1050px) {
  .mainEventCard-Display .eventCard-Info p {
    font-size: 13px; 
  }
  .mainEventCard-Display .eventCard-Info h5{
    font-size: 14px;
  }
} 


.mainEventCard-Display .eventCard-Img {
  border-top: 7px solid black;
  border-left: 7px solid black;
  border-bottom: 7px solid black;
  height: 100%;
  background-size: cover;
  background-position: center;
}

.mainEventsDisplay-Button{
  height: 10%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.mainEventsDisplay-Button button {
  font-size: 16px;
  background-color: black; 
  border: 2px solid gold; 
  color: white; 
  font-weight: bold; 
  cursor: pointer;
  height: 50px;
  width: 100px;
}

.mainEventsDisplay-Button button:hover {
  background-color: #333;
    border-color: transparent;
    color: gold;
}

.mainEventsDisplay-Button button:disabled {
  opacity: 0.5; /* Reduce opacity when disabled */
  cursor: not-allowed; /* Change cursor to not-allowed when disabled */
}

/******** Main Events Page CSS *********/


/******** Event Details Page CSS *********/

.container {
  max-width: 1200px;
}

.card-title {
  font-size: 1.75rem;
  font-weight: 500;
}

.chat-box {
  height: 200px;
  overflow-y: auto;
  background-color: #f8f9fa;
  padding: 1rem;
  margin-bottom: 1rem;
}

.chat-box p {
  margin-bottom: 10px;
}

.form-control::placeholder {
  font-style: italic;
}

/******** Event Details Page CSS *********/
